<!--<link href="../theme/stylesheet.css" rel="stylesheet" type="text/css">-->
{$video_fee = $Cbucket->configs['video_fee']}
{$video_max_price = $Cbucket->configs['video_max_price']}
{$audio_max_price = $Cbucket->configs['audio_max_price']}
<div class="heading">
    <h2>Manage Price</h2>
</div>

<!--<a class="btn btn-primary btn-sm pull-right" href="?mode=add">Add New Level <b>+</b></a>-->
<br>

<form action="#" id="form_price" method="post">
    <div class="row">
        <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <label for="video_fee"><b>{lang code="fee"}(%):</b></label> <br>
            <input type="number" name="video_fee" id="video_fee" value="{(int)$video_fee}">
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <label for="video_max_price"><b>{lang code="video_max_price"}($USD):</b></label> <br>
            <input type="number" name="video_max_price" id="video_max_price" value="{(int)$video_max_price}">
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <label for="audio_max_price"><b>{lang code="audio_max_price"}($USD):</b></label> <br>
            <input type="number" name="audio_max_price" id="audio_max_price" value="{(int)$audio_max_price}">
        </div>
    </div>
    <br>
    <button class="btn btn-success" type="button" id="btn_submit">Update Settings</button>
</form>

<script>
    var baseurl = '{$baseurl}';

    $(document).ready(function () {
        $('#btn_submit').click(function () {
            var form_data = $('#form_price').serialize();

            $.ajax({
                url: baseurl + '/admin_area/manage_price.php',
                type: 'post',
                data: form_data,
                success: function (msg) {
                    if (msg) {
                        alert('Successfully updated.');
                        window.location.reload();
                    }
                }
            })
        })
    });

</script>